@import "./variables.css";

.button__group__wrapper {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid var(--primary-color);
  width: 100%;
}
.button__active {
  border: 2px solid var(--primary-color);
  border-bottom: 0;
}
